<!DOCTYPE html>
<html>
<head>
<title>Payment</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>

<body class="bg-gray-100">

<div class="bg-white shadow p-4 flex justify-between">
<h1 class="font-bold text-xl">Payment</h1>

<a href="{% url 'orders' %}">
<i class="fas fa-arrow-left"></i>
</a>
</div>


<div class="max-w-xl mx-auto mt-8">

<div class="bg-white p-6 rounded-lg shadow">

<h2 class="font-semibold mb-4">
Order #{{ order.id }}
</h2>

<p class="text-gray-600">
Total Amount:
<span class="font-bold text-green-600">
₦{{ order.total_price }}
</span>
</p>

<p class="text-sm mt-2">
Status:
<span class="px-2 py-1 bg-gray-100 rounded">
{{ order.status }}
</span>
</p>

<hr class="my-4">


{% if request.user.role == "buyer" %}

{% if order.status == "approved" %}
<a href="{% url 'pay_order' order.id %}"
class="block text-center bg-blue-600 text-white py-3 rounded">
Pay with Card
</a>
{% elif order.status == "pending" %}
<p class="text-yellow-600">
Waiting for vendor approval
</p>
{% elif order.status == "paid" %}
<p class="text-green-600 font-semibold">
Payment Completed
</p>
{% endif %}

{% endif %}


{% if request.user.role == "vendor" %}

{% if order.status == "pending" %}
<p class="text-yellow-600">
Waiting for your approval
</p>
{% endif %}

{% if order.status == "approved" %}
<p class="text-blue-600">
Buyer can now make payment
</p>
{% endif %}

{% if order.status == "paid" %}
<p class="text-green-600 font-semibold">
Buyer has paid successfully
</p>
{% endif %}

{% endif %}

</div>

</div>

</body>
</html>